<%- include("layouts/header") -%> 

<h1>Home</h1>

<p><%= content %> </p>
<% posts.forEach(post => { %>

    <h2 class="l-bigger"><%= post.title %> </h2>
    <p>
        <%= post.content.substring(0, 100) + " ... "%>
        <a href="/posts/:<%= post.title %>">Ler Mais</a>
     </p>

<% }) %>